@charset "UTF-8";

/**************************
*	Déclaration des polices utilisées pour le site
***************************/



/**************************
*	Mise en page global
***************************/


body{
	margin:0;
	padding:0;
	background-color: white;
	background: white url('./images/fond.jpg') repeat;
}

.header{
	height:300px;
	width: 100%;
    background: url('./images/header.png') no-repeat center top;
}

body .content {
	min-height:640px;
	width:874px;
	margin:auto;
	margin-top: -110px;
	padding-top: 10px;
	padding-right:30px;
	padding-left:90px;
	background-color: rgba(255,255,174,1);
	border: 3px solid rgba(209,147,23,1);
	text-align: justify;
}

footer .footer{
	bottom:0;
	height:60px;
	line-height: 70px;
	width:1000px;
	margin:auto;
	text-align: center;
	color: rgba(255,255,255,0.8);
	background: rgba(209,147,23,1);
	border-radius: 0 0 10px 10px;
	margin-bottom:10px;
}

footer .footer a{
	/*text-decoration:none;*/
	color: rgba(255,255,255,0.8);
}


#menu {
	display:block;
	float:left;
    width:100px;
	height:100%;
	margin:0;
	margin-top:20px;
	margin-left:-140px;
	margin-right:30px;
	padding:3px;
	list-style: none inside none;
	text-align: left;
	background-color: rgba(209,147,23,1);
	border-radius: 5px;

}

#menu li{
	width: 100%;
	list-style: none inside none;
	text-align: center;
	vertical-align: middle;
	border-bottom: 1px solid rgba(255,255,174,1);
}

#menu li#lastItem {
	border-bottom:none;
}

#menu li a{
	display:block;
	padding:7px 5px 7px 5px;
	background-color: rgba(182,132,176,1);
	color:white;
	text-shadow:1px 1px 2px rgba(0,0,0, 0.9);
	text-decoration: none;
	vertical-align: middle;
	background: -webkit-linear-gradient(rgb(182,132,176) 10%, rgb(182,96,172) 80%, rgb(182,132,176));
    background: -moz-linear-gradient(rgb(182,132,176) 10%, rgb(182,96,172) 80%, rgb(182,132,176));
    background: -ms-linear-gradient(rgb(182,132,176) 10%, rgb(182,96,172) 80%, rgb(182,132,176));
    background: -o-linear-gradient(rgb(182,132,176) 10%, rgb(182,96,172) 80%, rgb(182,132,176));
    background: linear-gradient(rgb(182,132,176) 10%, rgb(182,96,172) 80%, rgb(182,132,176));
}

#menu li a:hover, #menu li a:focus, #menu li a:active
{
    /*background-color: rgba(209,147,23,1);*/
    background: linear-gradient(rgb(209,147,23),rgb(209,147,23));


}

/**************************
*	Affichage des images
***************************/
img.roundcorner{
	border-radius: 4px;
}

img.gauche {
    float: left;
}

img.centre{
	margin:auto;	
}

img.droite {
    float: right;
	margin-left:20px;
}

img.gauche.unique {
    margin-right: 30px;
}

img.droite.unique {
    margin-left: 30px;
}

img.ombre {
	border-top: 1px solid #aaa;
	border-left: 1px solid #aaa;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.7);
	margin-right:5px;

}
